@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container{
    display:flex;
    /* background-image: url("./images/tree.svg"); */
    background-repeat: no-repeat;
    background-position: center;
}
main{
    width: 100%;
    padding: 25px;
}

.header_sell{
  background-color: #282c34;
  min-height: 5rem;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(28, 151, 114);
  border-style:groove;
  border-bottom-right-radius: 2rem;
  
}
.sidebar{
    background: rgb(100, 148, 88);
    color: #fff;
    height: 100vh;
    width: 350px;
    border-style: groove;
    transition: all 0.5s;

}
.top_section{
    display: flex;
    align-items:center;
    padding:25px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background:rgb(28, 151, 114);
    color: rgb(243, 237, 237);
    transition: all 0.5s;
}
.active{
    background: rgb(20, 56, 3);
    color: rgb(188, 240, 191);
}
.icon, .link_text{
    font-size: 20px;
}

/* FAQ Styling starts here */

.wrapper {
    display: flex;
    height: 70vh;
    width: 90vw;
    justify-content: center;
    align-items: center;
}

.accordian {
    width: 600px;
}

.item {
    background: #e1f0e5;
    margin-bottom: 15px;
    padding: 20px 40px;
}

.title {
    color: #39852b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    font-size: 18px;
    margin-top: 10px;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

/* FAQ styling ends here */

/* Grievance page starts here */
.Grievance_page {
    border: 2px dotted rgb(24, 126, 70);
    background-color: #f2f2f2;
    font-size: 23px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    margin-top: 2rem;
}

#complaint {
    font-size: 20px;
}

textarea {
    width: 100%;
}

/* Grievance page ends here */

/* Accoundetails page starts here */

.accountDetails{
    /* display: grid; */
    /* padding: .8rem; */
    /* grid-template-columns: 1fr 1fr; */
    display: flex;
    width: 100%;
    height: 55vh;
    margin-top: 3rem;
    border: 2px dotted rgb(24, 126, 70);
    background-color: #f2f2f2;
    font-size: 23px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    
   
    
}

.profile-pic img{
    padding: .5rem;
    border: 1px solid  #0a773b;
    width: 20rem;
    height: 15rem;
    margin-top: 3rem;
}

.details{
    padding: 1rem;
    margin-left: 5rem;
    margin-top: 2rem;
}

.acc_label{
    color: #0a773b;
    display: block;
    padding-bottom: 3px;

}